@use "../../variables" as *;

.plan {
  text-align: center;
  width: 100%;

  @media (max-width: $breakpoint-md) {
    margin-bottom: 24px;
  }

  .options {
    background-color: $orange_zorba;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;

    h3 {
      color: $white;
      font-size: $fontsize-l;
      margin: 0;
      font-weight: 700;
      text-align: center;
    }
  }

  .decoration {
    border: 1px solid $gray_gainsboro;
    .price {
      background-color: $gray_desertStorm;
      padding: 24px 0;
      font-weight: 700;
      align-items: center;
      justify-content: center;

      h3 {
        color: $orange_bistre;
        font-size: $fontsize-xxl;
        font-weight: 700;
        margin-bottom: 16px;
        text-align: center;
      }

      .yen {
        font-size: $fontsize-l;
        margin-right: 4px;
      }

      .monthly {
        font-size: $fontsize-s;
        font-weight: 400;
        color: $black;
        margin: 0;
      }
    }

    .detail {
      .list {
        padding: 0px;
        margin: 0;
        font-size: $fontsize-s;

        .list-items {
          border-top: none;
          list-style: none;
          border: 1px solid $gray_gainsboro;
          padding: 20px;
          background-color: $white;
        }
      }
    }
  }
}

.plan:nth-child(even) {
  border: 5px solid $orange_bistre;
  .options {
    background-color: $orange_bistre;
    padding-top: 15px;
  }
  .list-items:last-child {
    padding-bottom: 15px;
  }
}
