@use "../../variables" as *;

.plan-set {
  .plan {
    text-align: center;
    width: 100%;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 24px;
    }
    .plan-text {
      background-color: $orange_zorba;
      padding: 20px 0;
      align-items: center;
      justify-content: center;
      display: flex;
      h3 {
        color: $white;
        font-size: $fontsize-l;
        margin-bottom: 0;
      }
    }
    .plan-border {
      border: 1px solid $gray_gainsboro;
      .plan-price {
        background-color: $gray_desertStorm;
        padding: 24px 0;
        height: 142px;
        h3 {
          font-size: $fontsize-xxl;
          font-weight: 700;
          color: $orange_bistre;
          margin-bottom: 16px;
          .dollar {
            font-size: $fontsize-l;
            margin-right: 4px;
          }
        }
        .monthly {
          font-size: $fontsize-s;
          font-weight: 400;
          color: $black;
        }
      }
      .plan-detail {
        .list {
          padding: 0px;
          margin: 0;
          font-size: $fontsize-s;
          .items {
            list-style: none;
            border-top: 1px solid $gray_gainsboro;
            padding: 20px;
          }
        }
      }
    }
  }
}
.plan:nth-child(even) {
  outline: 5px solid $orange_bistre;
  outline-offset: -5px;
  .plan-name {
    background-color: $orange_bistre;
  }
}
