@use "../../variables" as *;

.set {
  .plan {
    text-align: center;
    width: 100%;

    @media (max-width: $breakpoint-md) {
      margin-bottom: 24px;
    }

    .daytime {
      color: $white;
      background-color: $orange_zorba;
      font-size: $fontsize-l;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0;
    }

    .decoration {
      border: 1px solid $gray_gainsboro;

      .price {
        color: $orange_bistre;
        background-color: $gray_desertStorm;
        font-size: $fontsize-xxl;
        padding: 24px 0;
        height: 142px;
        font-weight: 700;
        margin-bottom: 16px;

        .yen {
          font-size: $fontsize-l;
          margin-right: 4px;
        }

        .monthly {
          font-size: $fontsize-s;
          font-weight: 400;
          color: $black;
        }
      }

      .detail {
        .list {
          padding: 0px;
          margin: 0;
          font-size: $fontsize-s;

          .list-items {
            list-style: none;
            padding: 20px;
            border-top: 1px solid $gray_gainsboro;
          }
        }
      }
    }
  }
}

.plan:nth-child(even) {
  outline: 5px solid $orange_bistre;
  outline-offset: -5px;

  .standard {
    background-color: $orange_bistre;
  }
}
