<div class="set">
  <div class="plan">
    <div class="daytime">
      <h3>デイタイムプラン</h3>
    </div>
    <div class="decoration">
      <div class="price">
        <h3><span class="yen">¥</span>5,000<br /></h3>
        <p class="monthly">月額</p>
      </div>
      <div class="detail">
        <ul class="list">
          <li class="list-items">入会金0円</li>
          <li class="list-items">平日：9時～17時</li>
          <li class="list-items">土日祝：利用ナシ</li>
          <li class="list-items">コアタイムでの利用に最適なプラン</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="plan">
    <div class="standard">
      <h3>スタンダードプラン</h3>
    </div>
    <div class="decoration">
      <div class="price">
        <h3><span class="yen">¥</span>15,000<br /></h3>
        <p class="monthly">月額</p>
      </div>
      <div class="detail">
        <ul class="list">
          <li class="list-items">入会金0円</li>
          <li class="list-items">平日：17時～23時</li>
          <li class="list-items">土日祝：営業時間全て</li>
          <li class="list-items">営業時間内で終日ご利用可能なプラン</li>
        </ul>
      </div>
    </div>
  </div>
</div>
