@use "../../variables" as *;
@use "../../atoms/button/button.scss" as *;
@use "../../molecules/plan/plan.scss" as *;
@use "../../molecules/message/message.scss" as *;

.plans {
  margin-top: 56px;
  .message {
    padding-top: 0;
    padding-bottom: 56px;
    .title {
      font-size: $fontsize-l;
      color: $orange_bistre;
      margin-bottom: 6px;
    }
    .text {
      font-size: $fontsize-s;
    }
  }
  .plan-set {
    .plan {
      margin-bottom: 24px;
      @media (min-width: $breakpoint-md) {
        margin-bottom: 40px;
        margin-right: 30px;
        &:nth-child(3) {
          margin-right: 0;
        }
      }
    }
    @media (min-width: $breakpoint-md) {
      display: flex;
      gap: 30px;
    }
  }
  .button-border {
    display: flex;
    justify-content: center;
    .button {
      margin-bottom: 35px;
    }
  }
}
