.about-container {
  padding-top: 100px;
  padding-bottom: 100px;
  @media (max-width: $breakpoint-lg) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  img {
    display: flex;
    @media (max-width: $breakpoint-lg) {
      flex-wrap: wrap;
    }
    images {
      width: 25%;
      height: auto;
      @media (max-width: $breakpoint-lg) {
        width: 50%;
      }
    }
  }
  .message {
    width: 100%;
    background-color: $white_smoke;

    h2 {
      color: $orange_bistre;
    }

    p {
      color: $black;
    }
  }
}
