@use "../../variables" as *;
@use "../../molecules/card/card.scss" as *;

.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  @media (max-width: $breakpoint-md) {
    display: block;
    margin-bottom: 0;
  }
  .card {
    width: 31%;
    @media (max-width: $breakpoint-md) {
      width: 100%;
      margin-bottom: 40px;
    }
    .special {
      margin-bottom: 30px;
    }
  }
}
